{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "/css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-5 col-lg-5 col-md-5">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Witaj ponownie!</h1>
                  </div>
                  {% if form.errors %}
                    <p>Twój login lub hasło są niepoprawne.</p>
                  {% endif %}
                  <form class="user" method="post" action="{% url 'login' %}">
                    <div class="form-group">
                      <input type="text" name="{{ form.username.html_name }}" class="form-control form-control-user" id="{{ form.username.auto_id }}" placeholder="Login...">
                    </div>
                    <div class="form-group">
                      <input type="password" name="{{ form.password.html_name }}" class="form-control form-control-user" id="{{ form.password.auto_id }}" placeholder="Hasło">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Zaloguj">
                    {% csrf_token %}
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Zapomniałeś hasła?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Załóż konto!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>
