{% extends 'panel/dashboard.html' %}
{% load static %}

{% block title %}Ustawienia szablonu {{ theme.name }}{% endblock title %}

{% block content %}

  <div class="card shadow">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ theme.name }}</h6>
    </div>
    <div class="card-body">

      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-user" value="Zapisz">
      </form>

    </div>
  </div>

{% endblock content %}
