{% extends 'panel/dashboard.html' %}

{% block title %}Strony{% endblock title %}

{% block content %}

  <div class="card shadow">
    <div class="card-body">

      <table class="table table-bordered dataTable">
        <thead>
          <tr>
            <th>Tytuł</th>
            <th>Data utworzenia</th>
            <th>Ostatnia zmiana</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">O firmie</a></th>
            <td>2020-03-01</td>
            <td>2020-04-20</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock content %}
