{% extends 'panel/dashboard.html' %}
{% load static i18n %}

{% block title %}{% trans 'Pages' %}{% endblock title %}

{% block content %}

  <div class="card shadow">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans 'List of pages' %}</h6>
    </div>
    <div class="card-body">

      <form action="" method="POST">
        {% csrf_token %}
        <table class="table table-bordered dataTable sorted_table">
          <thead>
            <tr>
              <th style="width:20px;"></th>
              <th>{% trans 'Title' %}</th>
              <th style="width:150px;">{% trans 'Link' %}</th>
              <th style="width:150px;">{% trans 'Start page' %}</th>
              <th style="width:150px;">{% trans 'Delete' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for page in pages %}
            <tr data-id="{{ page.id }}">
              <td class="handle"><i class="fas fa-arrows-alt-v"></i></td>
              <td>
                <a href="{% url 'page-update' page.id %}">{{ page.title }}</a>
                {% if not page.public %}<i class="fas fa-eye-slash"></i>{% endif %}
              </th>
              <td><a href="{% url 'page' page.slug %}">{% trans 'Link' %}</a></td>
              <td><input type="radio" name="start_page" value="{{ page.id }}"{% if page.start_page %} checked{% endif %}></td>
              <td><a href="{% url 'page-delete' page.id %}">{% trans 'Delete' %}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

         <a href="{% url 'page-create' %}" class="btn btn-primary btn-user">{% trans 'New page' %}</a> <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary btn-user">
      </form>

    </div>
  </div>

{% endblock content %}

{% block js %}
  <script src="{% static "js/jquery-sortable.min.js" %}"></script>
  <script src="{% static "js/csrf.js" %}"></script>
  <script>
    $(function  () {
      var pages = $('.sorted_table').sortable({
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        handle: 'td.handle',
        placeholder: '<tr class="placeholder"/>',
        onDrop: function ($item, container, _super) {
          var newOrder = pages.sortable("serialize").get().join(",");
          _super($item, container);
          $.post("{% url 'pages-change-order' %}", { new_order: newOrder })
            .done(function( data ) {

            });
        },
        serialize: function (parent, children, isContainer) {
          return isContainer ? children.join() : parent.data('id');
        }
      });
    });
  </script>
{% endblock js %}

{% block style %}
<style>
  body.dragging, body.dragging * {
    cursor: move !important;
  }
  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }
  .sorted_table tr {
    cursor: pointer;
  }
  .sorted_table tr.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
  }
  .sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
  }
</style>
{% endblock style %}
