{% extends 'panel/dashboard.html' %}
{% load static i18n %}

{% block title %}{% trans 'Pages' %}{% endblock title %}

{% block content %}

  <div class="container mt-2">

    <form method="post" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        <input
          type="text"
          name="{{ form.title.html_name }}"
          class="form-control form-control-user form-control-lg"
          value="{{ form.title.value|default:'' }}">
        {{ form.title.errors }}
      </div>

      <div class="row">
        <div class="col col-md-9">
          <div class="form-group">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">{{ request.scheme }}://{{ request.get_host }}/</span>
              </div>
              <input
                type="text"
                name="{{ form.slug.html_name }}"
                class="form-control form-control-user"
                value="{{ form.slug.value|default:'' }}">
            </div>
            {{ form.slug.errors }}
          </div>
        </div>
        <div class="col col-md-3">
          <select name="{{ form.public.html_name }}" class="form-control form-control-sm">
            <option value="on"{% if form.instance.public %} selected{% endif %}>{% trans 'Public' %}</option>
            <option value=""{% if not form.instance.public %} selected{% endif %}>{% trans 'Draft' %}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <textarea
          name="{{ form.body.html_name }}"
          rows="20"
          class="form-control form-control-user">{{ form.body.value|default:'' }}</textarea>
          {{ form.body.errors }}
      </div>

      <p>
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary btn-user btn-block">
      </p>
    </form>

  </div>

{% endblock content %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/easymde.min.css' %}">
{% endblock style %}

{% block js %}
<script src="{% static 'js/easymde.min.js' %}"></script>
<script>
  var simplemde = new EasyMDE({
    element: $("#editor")[0],
    autofocus: true,
    toolbar: [
      {
          name: 'bold',
          action: EasyMDE.toggleBold,
          className: 'fa fa-bold',
          title: '{% trans "Bold" %}',
          default: true,
      },
      {
          name: 'italic',
          action: EasyMDE.toggleItalic,
          className: 'fa fa-italic',
          title: '{% trans "Italic" %}',
          default: true,
      },
      {
          name: 'heading',
          action: EasyMDE.toggleHeadingSmaller,
          className: 'fa fa-header fa-heading',
          title: '{% trans "Heading" %}',
          default: true,
      },
      {
          name: 'quote',
          action: EasyMDE.toggleBlockquote,
          className: 'fa fa-quote-left',
          title: '{% trans "Quote" %}',
          default: true,
      },
      {
          name: 'unordered-list',
          action: EasyMDE.toggleUnorderedList,
          className: 'fa fa-list-ul',
          title: '{% trans "Generic List" %}',
          default: true,
      },
      {
          name: 'ordered-list',
          action: EasyMDE.toggleOrderedList,
          className: 'fa fa-list-ol',
          title: '{% trans "Numbered List" %}',
          default: true,
      },
      {
          name: 'clean-block',
          action: EasyMDE.cleanBlock,
          className: 'fa fa-eraser',
          title: '{% trans "Clean block" %}',
      },
      '|',
      {
          name: 'link',
          action: EasyMDE.drawLink,
          className: 'fa fa-link',
          title: '{% trans "Create Link" %}',
          default: true,
      },
      {
          name: 'table',
          action: EasyMDE.drawTable,
          className: 'fa fa-table',
          title: '{% trans "Insert Table" %}',
      },
      {
          name: 'horizontal-rule',
          action: EasyMDE.drawHorizontalRule,
          className: 'fa fa-minus',
          title: '{% trans "Insert Horizontal Line" %}',
      },
      '|',
      {
          name: 'preview',
          action: EasyMDE.togglePreview,
          className: 'fa fa-eye',
          noDisable: true,
          title: '{% trans "Toggle Preview" %}',
          default: true,
      },
      {
          name: 'side-by-side',
          action: EasyMDE.toggleSideBySide,
          className: 'fa fa-columns',
          noDisable: true,
          noMobile: true,
          title: '{% trans "Toggle Side by Side" %}',
          default: true,
      },
      {
          name: 'fullscreen',
          action: EasyMDE.toggleFullScreen,
          className: 'fa fa-arrows-alt',
          noDisable: true,
          noMobile: true,
          title: '{% trans "Toggle Fullscreen" %}',
          default: true,
      },
      '|',
      {
        name: 'guide',
        action: '{% trans "https://www.markdownguide.org/basic-syntax/" %}',
        className: 'fa fa-question-circle',
        noDisable: true,
        title: '{% trans "Markdown Guide" %}',
        default: true,
      },
      '|',
      {
          name: 'undo',
          action: EasyMDE.undo,
          className: 'fa fa-undo',
          noDisable: true,
          title: '{% trans "Undo" %}',
      },
      {
          name: 'redo',
          action: EasyMDE.redo,
          className: 'fa fa-repeat fa-redo',
          noDisable: true,
          title: '{% trans "Redo" %}',
      }
    ],
    uploadImage: true,
    imageUploadEndpoint: "{% url 'image-upload' %}",
    imageCSRFToken: $('{% csrf_token %}').val(),
    imageTexts: {
      sbInit: "{% trans 'Attach files by drag and dropping or pasting from clipboard' %}",
    },
    insertTexts: {
      table: ['', '\n\n{% trans "Column" %} 1 | {% trans "Column" %} 2 | {% trans "Column" %} 3\n- | - | -\n{% trans "Text" %} | {% trans "Text" %} | {% trans "Text" %}\n\n'],
    },
    status: ["upload-image"],
    spellChecker: false
  });
  </script>
{% endblock js %}
